<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Funcionário</title>
</head>
<body>
    <h1>Adicionar Funcionário</h1>
    <form method="post" action="{{ url_for('adicionar') }}">
        {{ form.csrf_token }}
        {{ form.nome_funcionario.label }} {{ form.nome_funcionario }}
        {{ form.cpf_funcionario.label }} {{ form.cpf_funcionario }}
        {{ form.email_funcionario.label }} {{ form.email_funcionario }}
        <input type="submit" value="Adicionar Funcionário">
    </form>

    <a href="{{ url_for('index') }}">Voltar para a Lista de Funcionários</a>
</body>
</html>